body {
    height: 2000px;
    margin: 0;
    padding: 0;
}

#document {
    margin: 0;
    background-color: greenyellow;
    position: sticky;
    /* Sticky yukarı sabitledi */
    top: 0;
}

#fixed {
    width: 100px;
    height: 100px;
    background-color: pink;
    position: fixed;
    /* inline element olarak kalıyor */
    /* bottom: 0; */
    top: 25%;
    left: 0;
}

#box {
    width: 100px;
    height: 100px;
    background-color: gray;
}