.container {
    width: 50%;
    margin: auto;
    border: 2px solid gray;
    border-radius: 20px;
}

#html-container,
#css-container {
    padding: 5vw;
}

h1 {
    text-align: center;
    color: hotpink;
}

p {
    text-align: justify;
}

img {
    width: 160px;
    height: 150px;
    border-radius: 30px;
    /* resimlerin köşesine ovallik veriyor */
}

#html {
    margin-right: 25px;
    float: left;
}

#css {
    border-radius: 200px;
    margin-left: 25px;
    float: right;
}