#header,
#nav,
#article,
#ads,
#footer {
    background-color: #19B5FE;
    padding: 20px;
    margin: 2px;
}

.container {
    display: grid;
    grid-template-columns: 12fr 5fr 3fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-gap: 5px;
    height: 90vh;
    grid-template-areas: "header header header" "article nav ads" " footer nav ads";
}

#header {
    grid-area: header;
}

#nav {
    grid-area: nav;
}

#ads {
    grid-area: ads;
}

#footer {
    grid-area: footer;
}