#header,
#nav,
#article,
#ads,
#footer {
    background-color: #19B5FE;
    padding: 20px;
    margin: 2px;
}

.container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 12fr 5fr 3fr;
    grid-template-rows: 2fr 8fr 2fr;
    grid-template-areas: "header header header" "nav article ads" "footer footer footer";
}

#header {
    grid-area: header;
}

#nav {
    grid-area: nav;
}

#footer {
    grid-area: footer;
}