* {
    font-size: 24px;
    /* text-align: center;  ortalama */
}

.container {
    margin: auto;
    width: 75%;
}

* #head1 {
    font-size: 24px;
    margin: 2vh 5vw;
    /* margin: 10px auto; */
    color: rgba(226, 26, 129);
    width: 300px;
    padding: 50px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.title {
    font-size: 48px;
    background-color: antiquewhite;
    font-weight: 400;
}

#head2 {
    border-bottom: 2px dotted blue;
    color: rgba(255, 0, 0, 3);
    /* margin-bottom: 10px;
    margin-left: 20px; */
    margin: 10px 20px;
    padding: 15px;
}

p.description {
    font-size: 24px;
    margin: 2em;
    /* margin: 2em; font-size: ın 2 katı
    margin: 2rem; font-size ı 16 kabul eder 2 katı yapar */
    color: #000;
}

h3.description {
    padding: 20px;
    margin: 5%;
    color: #aa9898;
    border-width: 2px 5px 2px 5px;
    /* top right botton left */
    /* border-width: 2px 5px; */
    /* top botton right-left */
    border-style: solid;
    border-color: red;
}

#id {
    color: blue;
    font-size: 25px;
    background-color: chartreuse;
    margin: 1em;
    padding: 1em;
}

p.pclass {
    font-size: 48px;
    color: red;
}

h2.pclass {
    background-color: rgb(99, 114, 158);
    margin: 1em;
    padding: 1em;
}