* {
    margin: 0;
    padding: 0;
}

#head1 {
    color: aquamarine;
    margin: 1em;
    padding: 0em;
}

.title {
    font-size: 48px;
    background-color: antiquewhite;
    font-weight: 400;
}

#head2 {
    color: pink;
    margin: 1em;
    padding: 0em;
}

.description {
    font-size: 24px;
}

h3.description {
    color: aquamarine;
}

#id {
    color: blue;
    font-size: 25px;
    background-color: chartreuse;
    margin: 1em;
    padding: 1em;
}

p.pclass {
    font-size: 48px;
    color: red;
}

h2.pclass {
    background-color: rgb(99, 114, 158);
    margin: 1em;
    padding: 1em;
}